svg {
  
  width: 100px;
  height: 30px;
}

.path {
  stroke-dashoffset: 0;
  stroke-dasharray: 100%;
  animation: dash 4.5s linear;
}

.path:nth-child(10) {
  animation-delay: -2s;
}
.path:nth-child(9) {
  animation-delay: -1.75s;
}
.path:nth-child(8) {
  animation-delay: -1.5s;
}
.path:nth-child(7) {
  animation-delay: -1.5s;
}
.path:nth-child(6) {
  animation-delay: -1.25s;
}
.path:nth-child(5) {
  animation-delay: -1s;
}
.path:nth-child(4) {
  animation-delay: -0.75s;
}
.path:nth-child(3) {
  animation-delay: -0.5s;
}
.path:nth-child(2) {
  animation-delay: -0.25s;
}

@keyframes dash {
  0%,
  50% {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: 0;
  }
}



.logout{
  
  display: inline-block;
  outline: 0;
  border:0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  /* line-height: 30px; */
  border-radius: 40px;

  /* font-size: 30px; */
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
  :hover{
      box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
      transform: scale(1.01);
  }
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


::-webkit-scrollbar{
  display: none;
}